.course-completion-card {
    /* background-color: #e3e8e8; */
    /* border: 1px solid #a1a1a1; */
    border-radius: 8px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: block;
    margin: 0 auto;
    max-width: max-content;
  }
  
  .progress-div {
      /* background-color: aqua; */
  }
  
  .course-completion-div{
      margin: 10px;
  }
  
  .course-card-completion{
      margin: 0 auto;
  }
  